<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>DECENT STAR SPORTS</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
  
    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
  
    <!-- Favicons -->
    <link href="{% static 'app/img/logo.png' %}" rel="icon">
    <link href="{% static 'app/img/logo.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'app/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Imperial - v5.7.0
    * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <title>Decent Star Sports | {% block title %} {% endblock title %} </title>
  </head>
  <body>
   
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'app/img/logo.png'%}" alt="Imperial">
        </div>

        <h1>Welcome to DECENT STAR SPORTS</h1>
        <h2>Our Mission Is  <span class="typed" data-typed-items="Innovation, On-Time Delivery, Cost Effectiveness, Staff Participation"></span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">GET STRATED</a>
          <a href="#services" class="btn-services">CORE VALUES</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="#" class="logo mr-auto bg-white"><img src="{% static 'app/img/logo.png'%}" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Core Values</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Products</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Our Vision</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->







  {% block main-content %} {% endblock main-content %}



     <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>DECENT STAR SPORTS</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
          -->
            Developed by <a href="#">Muhammad Usama</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'app/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'app/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'app/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'app/js/main.js' %}"></script>

  </body>
</html>