{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}



<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">We are resolute in our commitment to provide products that meet the needs of our loyal consumers. We provide one-of-a-kind services while being responsive.</p>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="{% static 'app/img/about-img.jpg' %}" alt="">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">We provide great services.</h2>
            <p class="about-text">
             The Company was found in Sahiwal. 
            </p>
           
            <p class="about-text">
              DECENT STAR SPORTS is a consumer-driven, design-oriented, and innovative company with the purpose of collaborating with a group of well-known worldwide brands, organizations, and entrepreneurs to translate marketing and commercial goals into design strategy, uniqueness, and product success.
            </p>
            
         
           
            
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <h3 class="section-title">Core Values</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="service-title"><a href="">Integrity</a></h4>
            <p class="service-description">We think that maintaining long-term relationships with each of our distinct client partners and workers is only possible if we act with honesty.
              The first essential to highly effective businesses is open and honest communication in the workplace.
              </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="service-title"><a href="">Work In A Group</a></h4>
            <p class="service-description">We are optimistic that our brilliant staff can assist us reach a better business outcome for our firm in the future as well, given their varied variety of expertise.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-bar-chart "></i></div>
            <h4 class="service-title"><a href="">Client Happiness Is Important</a></h4>
            <p class="service-description">We are resolute in our commitment to provide products that meet the needs of our loyal consumers. We provide one-of-a-kind services while being responsive</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="service-title"><a href="">Security, Health And The Environment</a></h4>
            <p class="service-description">We make a concerted effort to offer a safe and healthy work environment for our workers, as well as to act responsibly in the community and environment in which we operate. </p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="service-title"><a href="">Innovation</a></h4>
            <p class="service-description">We think that innovation is innately important, and that by maximizing our resources, we can develop better methods to make high-quality products.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="service-title"><a href="">On-time delivery</a></h4>
            <p class="service-description">We are able to meet our deadlines by utilizing the most sophisticated technology, Professionals, and our devotion.</p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Subscrbe Section ======= -->
    <section id="subscribe">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title">CULTURE</h3>
            <p class="subscribe-text">We put a lot of effort into optimising individual potential, ensuring product integrity, and developing an atmosphere that fosters innovation.
              </p> 
              <p class="subscribe-text">Our continued success is based on a basic conviction in our people and their skills.
              Associates commit to initiatives that match their talents with the help of seniors and a developing grasp of possibilities and team goals. All of this takes place in an atmosphere that blends autonomy and synergy, as well as freedom and collaboration.
              </p>
              <p class="subscribe-text">We must be fair to each other and to everyone we come into touch with equal.</p>
              <p class="subscribe-text">The ability to encourage and assist others permits others to advance in knowledge, competence, and breadth of responsibility.</p>
                <p class="subscribe-text"> The capacity to establish and keep one's own commitments. </p>
                  <p class="subscribe-text">Before taking any measures that might harm the company's reputation, consult with other associates.</p>
             
          </div>
          <div class="col-md-4 subscribe-btn-container">
            
           <!-- <a class="subscribe-btn" href="#">Subscribe Now</a>-->
          </div>
        </div>
      </div>
    </section><!-- End Subscrbe Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Products</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Foot Ball</li>
              <li data-filter=".filter-card">Cirket</li>
              <li data-filter=".filter-web">Hockey</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'app/img/portfolio/b1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/b1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'app/img/portfolio/h2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/h2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'app/img/portfolio/b4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/b4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'app/img/portfolio/c4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/c4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'app/img/portfolio/h3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/h3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'app/img/portfolio/b6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/b6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'app/img/portfolio/c1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/c1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'app/img/portfolio/c4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/c4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'app/img/portfolio/h1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4></h4>
              <p></p>
              <a href="{% static 'app/img/portfolio/h1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">OUr Vision</h3>
            <div class="section-title-divider"></div>
            
           
            <p class="section-description">"To be the world’s best and largest ball maker".</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'app/img/ali.jpg' %}" alt=""></div>
              <h4>Ali Hassan </h4>
              <span>CEO</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'app/img/quote_sign_left.png' %}" alt=""></b>Leadership is one of the most important parts of any organization's success.  <small><img src="app/img/quote_sign_right.png" alt=""></small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="quote">
              <b><img src="{% static 'app/img/quote_sign_left.png' %}" alt=""></b> The achievement of the objective cannot be the result of a single person's efforts. It is via cooperation that leadership is able to attain the organization's objectives. The individuals listed below are excellent examples of working together as a team.<small><img src="app/img/quote_sign_right.png" alt=""></small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="{% static 'app/img/ks.jpg' %}" alt=""></div>
              <h4>Rimsha Kanwal </h4>
              <span>CHRO</span>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Our Team</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'app/img/team/um.jpg' %}" alt=""></div>
              <h4>Umair Adnan </h4>
              <span>CFO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'app/img/team/l.jpg' %}" alt=""></div>
              <h4>Hamd Bilal </h4>
              <span>CMO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'app/img/team/ks.jpg' %}" alt=""></div>
              <h4>Rimsha Kanwal </h4>
              <span>CHRO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="{% static 'app/img/team/l2.jpg' %}" alt=""></div>
              <h4>Umar Fareed</h4>
              <span>COO</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contact Us</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Sahiwal<br>small industry</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>alihassanqaz078@gmail.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+92 311 6404407</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="{% url 'send_mail1' %}" method="post" >{{ csrf_input }}
                {% csrf_token %}
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
             <br>
                <div class="text-center"><button class="bg-info" type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->












{% endblock main-content %}